#title{
  margin: 30px;
  font-size: 50px;
  padding-left: 550px;
  font-style: italic;
  color: rebeccapurple;
  font-weight: bold;
}
#calculator{
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}

#display{
  margin: 10px;
  width: 85%;
  font-size: 20px;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btn{
  width: 50px;
  height: 40px;
  margin: 7px;
}
.btn:hover{
  color: red;
  background-color:blue;
}